.section--customers {
   @media screen and (max-width: 767px) {
      padding: 60px 0px;
      background: rgba(0, 0, 0, 0) url(../images/customers_mobil.svg) no-repeat bottom center/100% 100%;
   }
   @media screen and (min-width: 768px) and (max-width: 1279px) {
      padding: 60px 0px 120px 0px;
      background: rgba(0, 0, 0, 0) url(../images/customers_tablet.svg) no-repeat bottom center/102% 100%;
   }
   @media screen and (min-width: 1280px) {
      padding: 100px 0px 200px 0px;
      background: rgba(0, 0, 0, 0) url(../images/customers.svg) no-repeat bottom center/100% 100%;
   }
}

.customers {
   margin-top: 32px;
}
